/*
	tswnavbar.css	1.1.1
	Please use the CSS Menu Button Wizard at
		https://www.thesitewizard.com/wizards/css-menu-buttons.shtml
	to generate your own customized menu buttons.
*/

#tswcssbuttons {
	width: 180px ;
	text-align: center ;
}
#tswcssbuttons ul {
	margin: 0 ;
	padding: 0 ;
	list-style: none ;
}
#tswcssbuttons li {
	margin: 0 ;
	padding: 0 ;
	display: block ;
	list-style: none ;
	font-family: Arial, Helvetica, sans-serif ;
}
#tswcssbuttons li a {
	color: #ff0 ;
	background-color: #12127d ;
	border: 1px outset #9191ff ;
	text-decoration: none ;
	display: block ;
}
#tswcssbuttons li a:hover {
	color: #000 ;
	background-color: #c8c8ff ;
}
